@use '../../Foundation/mixin';
@use '../../Foundation/vars' as va;

.p-mv__heading2{
    font-family: va.$font-Japanese;
    color: #fff;
    font-weight: 700;
    font-size:max(calc(20/va.$sp-design-width*100vw),16px);
    order:1;
    line-height: calc(40/20);
    margin: calc(26/va.$sp-design-width*100vw) 0 calc(36/va.$sp-design-width*100vw);
    @include mixin.mq(pc){
        line-height: calc(72/36);
        font-size:calc(36/va.$pc-design-width*100vw);
        order:0;
        margin-left:calc(92/va.$pc-design-width*100vw);
        max-width: 320px;
    }
}