@use '../../Foundation/mixin';

.p-article--box2{
    width: 40rem;
    height: 40rem;
    background-color:forestgreen;
    margin-bottom: 1rem;
    @include mixin.mq(tb){
        width:100%;
    }
}