@use '../../../scss/Foundation/mixin';

.p-main-menu {
    > li > a {
        background: #0bd;
        color: #fff;
        width:14rem;
        margin-right: 1rem;
        font-size: 1.5rem;
        text-align: center;
        height: 70px;
        //aタグがインライン要素なので高さを揃えるためにflexに
        display: flex;
        align-items: center;
        justify-content: center;
        @include mixin.mq(tb){
            width: 100%;
        }  
    }
    @include mixin.mq(tb){
        flex-direction: column;
    }
}