@use '../../Foundation/mixin';
@use '../../Foundation/vars' as va;

.c-fqa__a{
    color:#cda20a;
    font-size:max(calc(16/va.$sp-design-width*100vw),14px);
    @include mixin.mq(pc){
        font-size:max(calc(24/va.$pc-design-width*100vw),16px);
    }
}