@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-footer__contents__wrapper{
    padding-top: calc(100/va.$sp-design-width*100vw);
    @include mixin.mq(pc){
        width: 100vw;
        padding-top: calc(150/va.$pc-design-width*100vw);
    }
}