@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.c-btn__text{
    font-family: va.$baseFont;
    font-size:max(calc(12/va.$sp-design-width*100vw),12px);
    color: va.$textColor;
    line-height: calc( 42/12 );
    //letter-spacing: calc(/1000 * 1em);
    font-weight: 700;
    display: none;
    &.active{
        display: block;
    }
}