@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.c-card__text--recommendation{
    font-family: va.$baseFont;
    font-size:clamp(14px,calc(16/va.$sp-design-width*100vw),16px);
    color: va.$textColor;
    line-height: calc( 21/14 );
    font-weight: 400;
    @include mixin.mq(pc){
        font-size:clamp(14px,calc(14/va.$pc-design-width*100vw),16px);
        line-height: calc( 21/14 );
        padding-top:calc(15/va.$pc-design-width*100vw);
    }
}