@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.c-cat__img{
    background: url(../img/ico_cat.svg) no-repeat;
    width:calc(21/va.$sp-design-width*100vw);
    height:calc(46/va.$sp-design-width*100vw);
    background-size: contain;
    @include mixin.mq(pc){
    width:calc(30/va.$pc-design-width*100vw);
    height:calc(67/va.$pc-design-width*100vw);
    }
}