@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.c-card__thumbnail--recommendation-1st{
    background: url(../img/dmy_pd001.jpg) no-repeat;
    //width:min(calc(334/va.$sp-design-width*100vw),400px);
    height:min((182/va.$sp-design-width*100vw), 192px);
    background-size:contain;
    margin-bottom:calc(25/va.$sp-design-width*100vw);
    @include mixin.mq(tb){
        width: 100%;
        height:min((190/va.$tb-design-width*100vw), 192px);
        margin-bottom:calc(25/va.$tb-design-width*100vw);
    }
    @include mixin.mq(pc){
        //width:calc(348/va.$pc-design-width*100vw);
        height:calc(190/va.$pc-design-width*100vw);
        margin-bottom:calc(27/va.$pc-design-width*100vw);
    }
}