@use '../../../scss/Foundation/mixin';
@use '../../Foundation/vars' as va;

.c-item__link--nav{
    font-family: va.$baseFont;
    color: va.$textColor;
    font-weight: 400;
    width:100%;
    //margin-right:calc(16/va.$sp-design-width*100vw);
    font-size: clamp(14px,calc(14/va.$sp-design-width*100vw),20px);
    text-align: center;
    height:calc(45/va.$sp-design-width*100vw);
    //aタグがインライン要素なので高さを揃えるためにflexに
    display: flex;
    align-items: center;
    justify-content: center;
    @include mixin.mq(pc){
        //width:calc(150/va.$pc-design-width*100vw);
        font-size: clamp(16px,calc(16/va.$pc-design-width*100vw),20px);
    }
    &:hover{
        color: va.$hoverColor;
    }
}