@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.c-item__link--second-nav{
    font-family: va.$baseFont;
    color: va.$textColor;
    font-weight: 400;
    width:100%;
    font-size: clamp(12px,calc(12/va.$sp-design-width*100vw),14px);
    &:hover{
        color:va.$hoverColor
    }
}