@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.c-link--recommendation{
    color: va.$textColor;
	width:calc(305/va.$sp-design-width*100vw);
    font-family: va.$baseFont;
	font-size: clamp(14px,(calc(14/va.$sp-design-width*100vw)),16px);
	font-weight: 700;
	display: inline-block;
	text-align: center;
	line-height: calc(24/14);
	padding: max(calc(12/va.$sp-design-width*100vw),12px) 0;
    text-decoration: none;
    position:relative;
    border:1px solid va.$baseFont;
    border-radius: 6px;
    &::after{
        content:'';
        position:absolute;
        left: 8px;
        width:8px;
        height:8px;
        transform:rotate(45deg);
        border-top:2px solid va.$textColor;
        border-right:2px solid va.$textColor;
    }
    &:hover{
        background-color:va.$hoverColor;
        border:va.$hoverColor;
    }
    @include mixin.mq(pc){
        width:calc(317/va.$pc-design-width*100vw);
        font-size: clamp(14px,(calc(14/va.$pc-design-width*100vw)),16px);
        padding: max(calc(12/va.$pc-design-width*100vw),12px) 0;
    }
}