@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.c-text--top-explanation{
    border-top: 1px solid va.$textColor;
    border-bottom: 1px solid va.$textColor;
    padding:calc(30/va.$sp-design-width*100vw) 0 calc(50/va.$sp-design-width*100vw);
    @include mixin.mq(pc){
        width:max(625/va.$pc-design-width*100vw);
        padding:calc(45/va.$pc-design-width*100vw) 0 calc(40/va.$pc-design-width*100vw) calc(55/va.$pc-design-width*100vw);
        margin:calc(30/va.$pc-design-width*100vw) 0;
    }   
}