@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.c-tag__news{
    background-color: va.$areaColor;
    color: va.$textColor;
    font-family: va.$baseFont;
    font-weight: 700;
    padding:calc(2/va.$sp-design-width*100vw) 0;
    width: calc(92/va.$sp-design-width*100vw);
    @include mixin.mq(pc){
        padding:calc(2/va.$pc-design-width*100vw) calc(16/va.$pc-design-width*100vw);
        width: calc(92/va.$pc-design-width*100vw);
    }
    &--latest{
        font-family: va.$baseFont;
        background-color: va.$newColor;
        color: #fff;
        font-weight: 700;
        padding:calc(2/va.$sp-design-width*100vw) calc(16/va.$sp-design-width*100vw);
        width: calc(92/va.$sp-design-width*100vw);
        @include mixin.mq(pc){
            padding:calc(2/va.$pc-design-width*100vw) calc(16/va.$pc-design-width*100vw);
            width: calc(92/va.$pc-design-width*100vw);
        }
    }
}