@use '../../Foundation/mixin';

.p-sub-menu__item{
    background: #9900ab;
    color: #fff;
    width:100%;
    font-size: 1.5rem;
    text-align: center;
    height: 70px;
    //aタグがインライン要素なので高さを揃えるためにflexに
    display: flex;
    align-items: center;
    justify-content: center;
    @include mixin.mq(pc){
        width: 14rem;
    }
}