@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.footer_nav_wrapper{
    @include mixin.mq(pc){
        margin: 0 auto;
        /*SNSが右側にあると中央から左にずれてしまうので、若干右に寄せている。
        //不要なら削除
        position: relative;
        left:20px;
        */
    }
}