@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.c-form__required{
    color: #fff;
    background-color: red;
    padding:calc(8/va.$sp-design-width*100vw) calc(16/va.$sp-design-width*100vw);
    //width:calc(75/va.$sp-design-width*100vw);
    margin:calc(16/va.$sp-design-width*100vw) 0;
    @include mixin.mq(pc){
        float: right;
    }
}