@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.c-privacypolicy{
    overflow-y: scroll;
    height: 100px;
    width: 100%;
    padding:calc(8/va.$sp-design-width*100vw) calc(8/va.$sp-design-width*100vw);
    border: solid .1rem #ccc;
    background-color: #fff;
    @include mixin.mq(pc){
        height:300px;
    }
}
