@use '../../Foundation/mixin';
@use '../../Foundation/vars' as va;

.c-logo{
    //
    width: calc(132/va.$sp-design-width*100vw);
    height: 70px;
    background-color:bisque;
    margin-right: auto;
    @include mixin.mq(pc){
        margin-right:0;
        //20vw
        width: calc(288/va.$pc-design-width*100vw);
    }
}