@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-heading__news__wrapper{
    display: flex;
    width:calc(300/va.$sp-design-width*100vw);
    border-bottom: 1px solid va.$underLineColor;
    margin-left:calc(12/va.$sp-design-width*100vw);
    @include mixin.mq(pc){
        margin-left:calc(19/va.$pc-design-width*100vw);
    }
}