@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-header__nav__wrapper--sp{
    display: none;
    position: fixed;
    top:0;
    z-index: -1;
    opacity: 0;
    height:100vh;
    width: 100%;
    background-color: va.$areaColor;
    margin-bottom: calc(80/va.$sp-design-width*100vw);
    @include mixin.mq(pc){
        display: none;
    }
}

//ハンバーガーメニューのボタンを押したとき
.p-header__nav__wrapper--sp.open{
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: center;
        opacity: 1;
        z-index: 100;
        padding-top:calc(30/va.$sp-design-width*100vw);
    }