@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-header__nav__wrapper--pc{
    display: none;
    @include mixin.mq(pc){
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 80px;
        background-color: va.$areaColor;
        margin-right:calc(100/va.$pc-design-width*100vw);
    }
}