@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-main{
    //padding:0 calc(20/va.$sp-design-width*100vw);
    width:calc(335/va.$sp-design-width*100vw);
    margin: 0 auto;
    @include mixin.mq(pc){
        max-width: 1070px;
        //padding:0;
        margin:0 auto;
    }
}