@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-nav__item--second{
    position: relative;
    &:first-child::after{
        content:'';
        position:absolute;
        width: 1px;
        height:10px;
        background-color: va.$textColor;
        margin:0 5px;
    }
}