@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-recommendation__card__link{
    color: va.$textColor;
	width:100%;
    font-family: va.$baseFont;
	font-size: clamp(14px,(calc(14/va.$sp-design-width*100vw)),16px);
	font-weight: 700;
	display: inline-block;
	text-align: center;
	line-height: calc(24/14);
	padding: max(calc(12/va.$sp-design-width*100vw),12px) 0;
    text-decoration: none;
    position:relative;
    border:1px solid va.$textColor;
    border-radius: 6px;
    &:hover{
        background-color:va.$areaColor;
        border-color:va.$hoverColor;
        //矢印の色も変える
    }
    @include mixin.mq(pc){
        width:calc(317/va.$pc-design-width*100vw);
        font-size: max(calc(14/va.$pc-design-width*100vw),14px);
        padding: max(calc(12/va.$pc-design-width*100vw),12px) 0;
    }
}