@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-recommendation__card__container{
    display: inline-block;
    @include mixin.mq(tb){
        display: flex;
        justify-content: space-between;
    }
}