@use '../../Foundation/mixin';

.p-header--nav-body{
        display: none;
        position:absolute;
        top: 70px;
        left: 0;
        right: 0;
        background-color: #fff;
        @include mixin.mq(pc){
            display:block;
            position: relative;
            top:0;
        }
}


/*ハンバーガーメニューのボタンを押したとき
.p-header--nav-body.is-open{
    @include mixin.mq(tb){
        display: block;
    }
}
*/