@use '../../../scss/Foundation/mixin';

.p-main-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include mixin.mq(pc){
        flex-direction: row;
    }
}