@use '../../Foundation/mixin';
@use '../../Foundation/vars' as va;

.p-nav__item__link{
    background: #0bd;
    color: #fff;
    margin-right: 1rem;
    font-size: 1.5rem;
    text-align: center;
    height: 70px;
    //aタグがインライン要素なので高さを揃えるためにflexに
    display: flex;
    align-items: center;
    justify-content: center;
    @include mixin.mq(pc){
        width: calc(140/va.$pc-design-width*100vw);
    } 
}