$breakpoint: (
  sp: 'screen and (max-width: 375px)',
  tb: 'screen and (max-width: 1023px)',
  pc: 'screen and (min-width: 1024px)'
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
   @content;
  }
}