@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-section__hogehoge__image{
    object-fit: contain;
    width: 100%;
    @include mixin.mq(pc){
        width: calc(300/va.$pc-design-width*100vw);
        object-fit: contain;
    }
}