@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-section__hogehoge__text{
    //font-family.va
    font-size:max(calc(16/va.$sp-design-width*100vw),14px);
    @include mixin.mq(pc){
        font-size:max(calc(16/va.$pc-design-width*100vw),16px);
    }
}