@use '../../Foundation/mixin';
@use '../../Foundation/vars' as va;

.p-article__news__link{
    //font-family: $fontFamily;
    color: #fefefe;
    background-color: #f0a319;
    width: 300px;
    margin:0 auto;
    font-size: max(calc(16/1440*100vw),16px);
    letter-spacing: calc(100/1000*1em);
    font-weight: 500;
    display: block;
    text-align: center;
    line-height: calc(23/16);
    padding: max(calc(40/1440*100vw),40px) 0;
    text-decoration: none;
    //ボタンを下ぞろえにするための記述
    margin-top:auto;
        &:hover{
        background-color: #a389ff;
        color: #000;
        } 
}