@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-article__news__heading2{
    color: va.$text-color;
    font-family: va.$serif;
    font-weight: 500;
    font-size: max(calc(20/va.$sp-design-width*100vw),20px);
    line-height: calc(40/28);
    margin-bottom: max(calc(40/va.$pc-design-width*100vw),40px);
    letter-spacing: calc(450/1000*1em);
    text-align: center;
        @include mixin.mq(pc){
        font-size:max(calc(28/va.$pc-design-width*100vw),28px);
        margin-bottom: max(calc(80/va.$pc-design-width*100vw),80px);
        padding-top:calc(150/va.$pc-design-width*100vw);
    }
}