@use '../../Foundation/mixin';
@use '../../Foundation/vars' as va;

.p-section__news__card__wrapper{
    /*カードの大きさ*/
    @include mixin.mq(pc){
        //カード間のマージンを20とする
        width: calc((100% - (20px * 2)) / 3);
        margin-right:calc(20/va.$pc-design-width*100vw);
        &:last-child{
            margin-right:0;
        }
        //下のリンクを下ぞろえにするためにflexboxにしている
        display: flex;
        flex-direction: column;
    }
}