@use '../../Foundation/mixin';
@use '../../Foundation/vars' as va;

.p-fqa__question__text{
    margin-left:max(calc(32/va.$sp-design-width*100vw),32px);
    @include mixin.mq(pc){
        margin-left:max(calc(40/va.$pc-design-width*100vw),40px);
        font-size:max(calc(24/va.$pc-design-width*100vw),24px);
    }
}