.p-side-menu__nav__item{
	position:relative;
	&::before{
	  content:"";
	  position:absolute;
	  top:1vw;
	  left:-2vw;
	  width:.5vw;
	  height:.5vw;
	  background-color:#f2f2f2;
	  border-radius:50%;
	  display:inline-block;
	  opacity:0;
	  transition: .6s;
	}
	&.is-current{
	transition:.6s;
	transform:translateX(2vw);
	&::before{
		opacity:1;
		}
  	}
}