@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.section_top{
    margin-bottom:max(calc(80/va.$sp-design-width*100vw),80px);
    @include mixin.mq(pc){
        display: flex;
        margin-bottom:max(calc(80/va.$pc-design-width*100vw),80px);
    }
}