@use '../../../scss/Foundation/mixin';
@use '../../Foundation/vars' as va;

.c-sub-menu__item__link--sidebar{
    color: #000;
    width:100%;
    //margin-right:calc(16/va.$sp-design-width*100vw);
    font-size: clamp(12px,calc(12/va.$sp-design-width*100vw),14px);
    text-align: center;
    height: 50px;
    padding-left:calc(80/va.$sp-design-width*100vw);
    //justify-content: center;
}