.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //headerを固定する場合
    position:relative;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
   //背景画像はスライダー
}