@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-article__news{
    background-color: #F3E1D5;
    padding: calc(80/va.$sp-design-width*100vw) 5% calc(120/va.$pc-design-width*100vw);
    @include mixin.mq(pc){
        padding:0 calc(115/va.$pc-design-width*100vw) calc(80/va.$pc-design-width*100vw);
    }
}