@use '../../Foundation/mixin';
@use '../../Foundation/vars' as va;

.p-section__news__card__thumbnail{
    background-image: url(../img/news_card_thumbnail.png);
    //width:100%;
    height: max(calc(500/va.$sp-design-width*100vw));
    margin-bottom: calc(40/va.$sp-design-width*100vw);
    background-size: contain;
    @include mixin.mq(pc){
        margin-bottom: calc(30/va.$pc-design-width*100vw);
        height: max(calc(245/va.$pc-design-width*100vw));
        background-size: cover;
    }
}