@use '../../../scss/Foundation/mixin';
@use '../../Foundation/vars' as va;

.p-main-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    > li > a {
        background: #0bd;
        color: #fff;
        width:100%;
        margin-right: calc(10/va.$sp-design-width*100vw);
        font-size: calc(14/va.$sp-design-width*100vw);
        text-align: center;
        //headerの高さ
        height: 70px;
        //aタグがインライン要素なので高さを揃えるためにflexに
        display: flex;
        align-items: center;
        justify-content: center;
        > :hover{
            background: #0090aa;
        }
        @include mixin.mq(pc){
            font-size: calc(16/va.$pc-design-width*100vw);
            width: calc(140/va.$pc-design-width*100vw);
            flex-direction: row;
        }  
    }
    @include mixin.mq(tb){
        flex-direction: column;
    }
    @include mixin.mq(pc){
        flex-direction: row;
    }
}