@use '../../../scss/Foundation/mixin';
@use '../../Foundation/vars' as v;

.p-main-menu {
    @include mixin.mq(tb){
        display:flex;
    }
    > li > a {
        background: #0bd;
        color: #fff;
        width:v.$sidebar-width;
        margin-right: 1rem;
        font-size: 1.5rem;
        text-align: center;
        height: 70px;
        //aタグがインライン要素なので高さを揃えるためにflexに
        display: flex;
        align-items: center;
        justify-content: center;
        @include mixin.mq(sp){
            width:100%;
        }
    }
}