@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.footer_button_scroll-top{
    //場所の固定
    position: fixed;
    z-index: 1;
    bottom: 50px;
    right: 50px;
    font-family: va.$english;
    color: #fff;
    font-weight: 500;
    font-size: max(calc(14/va.$sp-design-width*100vw),14px);
    line-height: calc(18/14);
    letter-spacing: calc(40/1000*1em);
    //position: relative;
    //margin-bottom: max(calc(40/va.$sp-design-width*100vw),40px);
    display: block;
    //height: max(calc(80/va.$sp-design-width*100vw),80px);
    margin-left: auto;
   // margin-right: calc(60/va.$sp-design-width*100vw);
    padding-top: calc(80/va.$sp-design-width*100vw);
    margin-bottom: calc(80/va.$sp-design-width*100vw);
    @include mixin.mq(pc){
        right: 0;
        font-size:max(calc(16/va.$pc-design-width*100vw),16px);
        padding-top: calc(80/va.$pc-design-width*100vw);
        margin-bottom: calc(50/va.$pc-design-width*100vw);
        //line-height: calc(20/16);
        margin-left: auto;
        margin-right: calc(150/va.$pc-design-width*100vw);
    }
}

.footer_button_scroll-top.is-action{
    z-index: -1;
}