@use '../../Foundation/mixin';
@use '../../Foundation/vars' as va;

.p-nav{
    position: fixed;
    left: max(calc(20/va.$pc-design-width*100vw),20px);
    top: max(calc(80/va.$pc-design-width*100vw),80px);    
}