@use '../../Foundation/mixin';
@use '../../Foundation/vars' as va;

.p-nav__heading2{
    text-align: center;
    font-size:max(calc(40/va.$pc-design-width*100vw),40px);
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Shippori Mincho B1', serif;
}