@use '../../Foundation/mixin';
@use '../../Foundation/vars' as va;

.p-section__reverse{
    background-color: #FC656D;
    padding:max(calc(80/va.$pc-design-width*100vw),80px) max(calc(120/va.$pc-design-width*100vw),120px);
    width:100vw;
}