@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-section__bottom-text{
    font-size:max(calc(16/va.$pc-design-width*100vw),16px);
    max-width: 700px;
    margin: auto 0;
    /*
    &:not(:last-child){
        margin-bottom: 24px;
    }
    */
}
