@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-section__text__reverse{
    font-family: 'Shippori Mincho B1', serif;
    font-size:max(calc(18/va.$pc-design-width*100vw),16px);
    order:1;
    max-width: 320px;
    font-family: 'Shippori Mincho B1', serif;
    //font-weight: 400;
    //color: #f0f0f0;
    margin:auto 0;
    margin-right: max(calc(-40/va.$pc-design-width*100vw),-40px);
    @media screen and (min-width:1200px) {
        max-width: 500px;
    }
}