@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-main{
    max-width: 960px;
    padding:0 calc(15/va.$sp-design-width*100vw);
    margin: 0 auto;
    @include mixin.mq(pc){
        padding:0 4%;
    }
}