@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-news__heading2{
    //font-family: va.//$font-Japanese;
    font-size:max(calc(24/va.$sp-design-width*100vw));
    color: va.$text-color;
    line-height: calc( 29/24 );
    //letter-spacing: calc(/1000 * 1em);
    font-weight: bold;
    text-align: center;
    margin-bottom:calc(49/va.$sp-design-width*100vw);
    @include mixin.mq(pc){
    font-size:max(calc(24/va.$pc-design-width*100vw));
    margin-bottom:calc(74/va.$pc-design-width*100vw);
    //line-height: calc( / );
    //letter-spacing: calc(/1000 * 1em);
    }
}