@use '../../Foundation/mixin';
@use '../../Foundation/vars' as va;

.p-sidebar__body{
    position:fixed;
    background-color: bisque;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translateX(calc(250/va.$sp-design-width*100vw)); /* right0から250px移動した位置 サイドバーの幅で画面外に移動させている*/
    transition: all .5s; /* 移動する速さ */
}

.p-sidebar__body.is-show{
    transform: translateX(0); /* right0まで-250px移動 */
    //どこまでウィンドウを出すか
    width:calc(250/va.$sp-design-width*100vw);
    height: 100%;
    margin:0 auto;
}