.p-main-menu {
    display: flex;
    justify-content: center;
    > li > a {
        background: #0bd;
        padding: 1rem;
        color: #fff;
        display: inline-block;
        margin: 1rem;
        > :hover{
            background: #0090aa;
        }  
    }
}