.p-sub-menu--service {
    position: absolute;
    >li > a {
        margin: 1px;
        background: #f5f5f5;
        font-size: 2rem;
        display: flex;
        width: 22rem;
        justify-content: center;
    }
}
