@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.splide{
    height:600px;
    //セレクタを3つ指定しないと、JS導入によって生成されるCSSに詳細度の関係で負けてしまう。
    &:not(.is-active).splide6 .splide__list{
        display: grid;
	    gap: 8px;
	    grid-template-columns: repeat(3, 1fr);
	    grid-template-rows: repeat(2, 240px);
    }
}