@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.splide__slide{
    width: 100%;
    height:600px;
    background-repeat: no-repeat;
    background-size: cover;
    &:nth-child(1){
        background-image: url('../img/img1.jpeg');
    }
    &:nth-child(2){
        background-image: url('../img/img2.jpeg');
    }
    &:nth-child(3){
        background-image: url('../img/img3.jpeg');
    }
    &.splide2__slide1{
        background-image: url('../img/img1.jpeg');
    }
    &.splide2__slide2{
        background-image: url('../img/img2.jpeg');
    }
    &.splide2__slide3{
        background-image: url('../img/img3.jpeg');
    }
    &.splide3__slide1{
        background-image: url('../img/img1.jpeg');
    }
    &.splide3__slide2{
        background-image: url('../img/img2.jpeg');
    }
    &.splide3__slide3{
        background-image: url('../img/img3.jpeg');
    }
    &.splide4__slide1{
        background-image: url('../img/img1.jpeg');
    }
    &.splide4__slide2{
        background-image: url('../img/img2.jpeg');
    }
    &.splide4__slide3{
        background-image: url('../img/img3.jpeg');
    }
    &.splide5__slide1{
        background-image: url('../img/img1.jpeg');
    }
    &.splide5__slide2{
        background-image: url('../img/img2.jpeg');
    }
    &.splide5__slide3{
        background-image: url('../img/img3.jpeg');
    }
    &.splide6__slide1{
        background-image: url('../img/img1.jpeg');
    }
    &.splide6__slide2{
        background-image: url('../img/img2.jpeg');
    }
    &.splide6__slide3{
        background-image: url('../img/img3.jpeg');
    }
    &.splide7__slide1{
        background-image: url('../img/img1.jpeg');
        display: block;
        width:calc(30/va.$sp-design-width*100vw);
        height:calc(30/va.$sp-design-width*100vw);
        @include mixin.mq(pc){
            width:calc(30/va.$pc-design-width*100vw);
            height:calc(30/va.$pc-design-width*100vw);
        }
    }
    &.splide7__slide2{
        background-image: url('../img/img2.jpeg');
        display: block;
        width:calc(30/va.$sp-design-width*100vw);
        height:calc(30/va.$sp-design-width*100vw);
        @include mixin.mq(pc){
            width:calc(30/va.$pc-design-width*100vw);
            height:calc(30/va.$pc-design-width*100vw);
        }
    }
    &.splide7__slide3{
        background-image: url('../img/img3.jpeg');
        display: block;
        width:calc(30/va.$sp-design-width*100vw);
        height:calc(30/va.$sp-design-width*100vw);
        @include mixin.mq(pc){
            width:calc(30/va.$pc-design-width*100vw);
            height:calc(30/va.$pc-design-width*100vw);
        }
    }
}