@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-article__pick-up__heading2{
        color: #333;
        font-family: va.$font-English;
        font-weight: 500;
        font-size: min(calc(32/va.$sp-design-width*100vw),60px);
        line-height: calc(72/28);
        //ext-align: center;
        margin-bottom: max(calc(20/va.$pc-design-width*100vw),20px);
        letter-spacing: calc(200/1000*1em);
        text-align: center;
        text-transform: uppercase;
        @include mixin.mq(pc){
            font-size:max(calc(48/va.$pc-design-width*100vw),48px);
            margin-bottom: max(calc(40/va.$pc-design-width*100vw),40px);
            text-align: center;
        }
}