@use '../../../scss/Foundation/mixin';
@use '../../Foundation/vars' as va;

.p-nav__item__link{
    color: va.$font-color;
    font-family: va.$font-Japanese;
    //margin-right: 1rem;
    font-size: max(calc(16/va.$sp-design-width*100vw),16px);
    font-weight: 700;
    line-height: calc(18/16);
    //border-bottom: 1px solid #E7E7E7;
    padding:max(calc(20/va.$pc-design-width*100vw),20px) 0 max(calc(20/va.$pc-design-width*100vw),20px) max(calc(20/va.$pc-design-width*100vw),20px);
    display: block;
    &:hover{
        color: #37952F;
    }
    @include mixin.mq(pc){
        font-size: max(calc(18/va.$pc-design-width*100vw),16px);
        padding: 0;
    }
}