@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-section__service__card__wrapper{
    @include mixin.mq(pc){
        width:calc(348/va.$pc-design-width*100vw);
        display: flex;
        flex-direction: column;
    }
}