@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-section__service__card__container{
    margin-bottom:calc(20/va.$sp-design-width*100vw);
    @include mixin.mq(tb){
        display: flex;
        justify-content: space-between;
    }
}