@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-section__service__card__heading3{
    font-family: va.$font-Japanese;
    font-size:min(calc(20/va.$sp-design-width*100vw),32px);
    color: va.$font-color;
    //line-height: calc( 72/20 );
    //letter-spacing: calc(/1000 * 1em);
    font-weight: 700;
    margin:0;
    padding-left:calc(20/va.$sp-design-width*100vw);
    margin-bottom:calc(16/va.$sp-design-width*100vw);
    @include mixin.mq(tb){
        font-size:min(calc(20/va.$tb-design-width*100vw),32px);
        padding-left:calc(20/va.$tb-design-width*100vw);
        margin-bottom:calc(16/va.$sp-design-width*100vw);
    }
    @include mixin.mq(pc){
    font-size:max(calc(20/va.$pc-design-width*100vw),16px);
    padding-left:calc(20/va.$pc-design-width*100vw);
    margin-bottom:calc(16/va.$pc-design-width*100vw);
    //line-height: calc( / );
    //letter-spacing: calc(/1000 * 1em);
    }
}