@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-section__service__card__thumbnail{
    background: url(../img/dmy_thumb01.jpg) no-repeat;
    //width:min(calc(334/va.$sp-design-width*100vw),400px);
    height:min((160/va.$sp-design-width*100vw), 192px);
    background-size:contain;
    @include mixin.mq(pc){
        //width:calc(348/va.$pc-design-width*100vw);
        height:calc(160/va.$pc-design-width*100vw);
    }
}