@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.c-card__text--service{
    font-family: va.$font-Japanese;
    font-size:min(calc(16/va.$sp-design-width*100vw),16px);
    color: va.$font-color;
    line-height: calc( 30/16 );
    margin-bottom:calc(32/va.$sp-design-width*100vw);
    //letter-spacing: calc(/1000 * 1em);
    font-weight: 500;
    @include mixin.mq(tb){
        font-size:max(calc(16/va.$tb-design-width*100vw),16px);
        margin-bottom:calc(32/va.$tb-design-width*100vw);
    }
    @include mixin.mq(pc){
    font-size:max(calc(16/va.$pc-design-width*100vw),16px);
    margin-bottom:calc(32/va.$pc-design-width*100vw);
    //line-height: calc( / );
    //letter-spacing: calc(/1000 * 1em);
    }
}