@use '../../Foundation/mixin';
@use '../../Foundation/vars' as va;

.c-link--service{
    font-family: va.$font-Japanese;
    color: #fff;
    background-color: #37952F;
    //width: calc(292/va.$sp-design-width*100vw);
    //height:calc(47/va.$sp-design-width*100vw);
    font-size: max(calc(16/1440*100vw),16px);
    letter-spacing: calc(100/1000*1em);
    font-weight: 700;
    display: block;
    text-align: center;
    line-height: calc(23/16);
    padding:calc(13/va.$sp-design-width*100vw) 0;
    text-decoration: none;
    margin: auto auto calc(20/va.$sp-design-width*100vw);
      &:hover{
      background-color: #FFF;
      color: #37952F;
      border: 1px solid #37952F;
      }
      @include mixin.mq(tb){
        padding:calc(13/va.$tb-design-width*100vw) 0;
        width:calc(306px/348px * 100%);
      }
      @include mixin.mq(pc){
        //width: calc(306/va.$pc-design-width*100vw);
        padding:calc(13/va.$pc-design-width*100vw) 0;
        margin-top:auto;
      }
    }