@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-article--service{
    max-width: 400px;
    margin:0 auto calc(45/va.$sp-design-width*100vw);
    @include mixin.mq(tb){
        max-width: none;
        margin-bottom:calc(80/va.$tb-design-width*100vw);
    }
    @include mixin.mq(pc){
        margin-bottom:calc(80/va.$pc-design-width*100vw);
    }
}