@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-header__nav__body{
    display: none;
    position:absolute;
    //headerの高さ分下げている
    top: 50px;
    left: 0;
    right: 0;
    background-color: #fff;
    height:calc(100vh - 50px);
    z-index:1;
    @include mixin.mq(pc){
        display:block;
        position: static;
        height: 100%;
        width: max(calc(606/va.$pc-design-width*100vw), 420px);
        margin-right: calc(25/va.$pc-design-width*100vw);
    }
}

//ハンバーガーメニューのボタンを押したとき
.p-header__nav__body.open{
        display: block;
    }