.sample-slider{
    width:100%;
}
.sample-slider img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.swiper2{
    width:70%;
    overflow: visible;
}
.swiper2 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.swiper2{
    .swiper-slide {
        &:not(.swiper-slide-visible) {
        pointer-events: none;
        opacity: 0;
     }
    }
  }