@use '../../Foundation/mixin';

.p-header--nav-body{
    @include mixin.mq(tb){
        display: none;
        position:absolute;
        top: 70px;
        left: 0;
        right: 0;
        background-color: #fff;
    }
}

//ハンバーガーメニューのボタンを押したとき
.p-header--nav-body.open{
    @include mixin.mq(tb){
        display: block;
    }
}