@use '../../../scss/Foundation/mixin';
@use '../../Foundation/vars' as va;

.p-nav__item__link--current{
    color: va.$font-color;
    font-family: va.$font-Japanese;
    //margin-right: 1rem;
    font-size: max(calc(16/va.$sp-design-width*100vw),16px);
    font-weight: 700;
    line-height: calc(18/16);
    position:relative;
    border-left: 5px solid #37952F;
    //border-bottom: 1px solid #E7E7E7;
    padding:max(calc(20/va.$pc-design-width*100vw),20px) 0 max(calc(20/va.$pc-design-width*100vw),20px) max(calc(15/va.$pc-design-width*100vw),15px);
    display: block;
    &:hover{
        color: #37952F;
    }
    @include mixin.mq(pc){
        border-left:none;
        font-size: max(calc(18/va.$pc-design-width*100vw),16px);
        padding:0;
        border-bottom: 3px solid #37952F;
    }
    /*
    &::before{
        content:'';
        position:absolute;
        width:max(calc(5/va.$sp-design-width*100vw),5px);
        height:max(calc(57/va.$sp-design-width*100vw),57px);
        left:0;
        top:0;
        background-color: #37952F;
    }
    */
}