@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-servise__card__text__wrapper{
    padding: 0 calc(21/va.$sp-design-width*100vw);
    @include mixin.mq(tb){
        padding:calc(16/va.$tb-design-width*100vw) calc(21/va.$tb-design-width*100vw) calc(20/va.$tb-design-width*100vw) calc(21/va.$tb-design-width*100vw);        
    }
    @include mixin.mq(pc){
        padding:calc(16/va.$pc-design-width*100vw) calc(21/va.$pc-design-width*100vw) calc(20/va.$pc-design-width*100vw) calc(21/va.$pc-design-width*100vw);
        //カード型レイアウトで、ボタンの位置を揃えるための記述
    }
}